

.add_alg_bnt{
    display: block;
    position: absolute;
    right: 21px;
    top: 6px;
}
.del_param_bnt{
    display: block;
    position: absolute;
    right: -10px;
    top: -6px;
}

.caption_param{
    position: relative;
    height: 18px;
}
#param_add_panel{
    padding: 15px;
}

#tab_description{
    padding-top: 15px;
}

.keys_block{
    position: relative;
}

.proj_div{
    padding-top: 15px;
}

.option_td{
    width: 115px;
}
.number_td{
    width: 30px;
}
.salg{
    position: relative;
}
.options_btn{
    float: right;
    margin-top: -23px;
    margin-left: 15px;
    margin-right: -11px;
}

.select_add{
    width: 400px;
    float: left;
    margin-right: 15px;
}